{% extends 'common_code/base.html'%}
{% block title %}Machine Learning {% endblock title %}
{% block body %}

{% load static %}
       <button><a class="nav-link active" aria-current="page" href="/live-stream/youtube-live-stream">Go to Youtube Live</a></button>
       <button><a class="nav-link active" aria-current="page" href="/live-stream/facebook-live-stream">Go to Facebook Live</a></button>
       <button><a class="nav-link active" aria-current="page" href="/live-stream/stop-facebook-live-stream">Stop Facebook Live</a></button>
       <button><a class="nav-link active" aria-current="page" href="/live-stream/go-live-stream">Go Live</a></button>

        
        
{% endblock %}  